商品一覧
<div class="item_list">
  <div class="item_lists">
    <% @items.each do |item| %>
      <div class="iteminner">
        <ul>
          <%= link_to dog_item_path(item.id) do %>
          <li><%= item.name %></li>
          <li><%= image_tag item.image.variant(resize:'200x200') if item.image.attached? %></li>
          <li><%= item.content %></li>
          <li><%= item.genre.name %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>