<%# <span class="item_view"> %>
  <%# <%= "検索フォーム" %>
</span>

<div class="main">
  <div class="main_content">
    <div class="jp_dogs">
      <p>日本犬</p>
      <div class="small_dog">小型
        <ul>
          <li><%= link_to "柴犬", dog_items_path, class:"jp_dog" %></li>
        </ul>
      </div>
      <br>
      <div class="medium_dog">中型
        <ul>
          <li><%= link_to "紀州犬", "#", class:"jp_dog" %></li>
          <li><%= link_to "四国犬", "#", class:"jp_dog" %></li>
          <li><%= link_to "北海道犬", "#", class:"jp_dog" %></li>
          <li><%= link_to "甲斐犬", "#", class:"jp_dog" %></li>
        </ul>
      </div>
      <br>
      <div class="large_dog">大型
        <ul>
          <li><%= link_to "秋田犬", "#", class:"jp_dog" %></li>
        </ul>
      </div>
    </div>
    <div class="dog_items">
      <p>商品のジャンルで探す</p>
      <div class="item_list1">
        <ul>
          <li><%= link_to "ご飯", "#", class:"dog_item" %></li>
          <li><%= link_to "おやつ", "#", class:"dog_item" %></li>
          <li><%= link_to "ご飯・給水用品", "#", class:"dog_item" %></li>
          <li><%= link_to "キャリー・カート", "#", class:"dog_item" %></li>
          <li><%= link_to "首輪・ハーネス・リード", "#", class:"dog_item" %></li>
          <li><%= link_to "服・アクセサリー", "#", class:"dog_item" %></li>
          <li><%= link_to "小屋・ケージ", "#", class:"dog_item" %></li>
          <li><%= link_to "ベッド・マット・ステップ", "#", class:"dog_item" %></li>
          <li><%= link_to "シャンプー・バリカン・抜け毛取り", "#", class:"dog_item" %></li>
          <li><%= link_to "おもちゃ", "#", class:"dog_item" %></li>
          <li><%= link_to "トイレ", "#", class:"dog_item" %></li>
          <li><%= link_to "トイレ・衛生用品", "#", class:"dog_item" %></li>
        </ul>
      </div>
    </div>
    <div class="footer_bar">
      <%= render "layouts/footer_bar" %>
    </div>
  </div>
</div>

<%# <div class="whole">
  <%= render "layouts/side_bar" %>
<%# </div> %>